@import "tailwindcss";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Frank Ruhl Libre', serif;
}
.hero {
  background-image: url('/assets/hero.jpg');
  background-size: cover;        /* shows full image */
  background-position: top;        /* align from top */
  background-repeat: no-repeat;
}

.mobile-sidebar {
  background-color: green !important;
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.3s ease-out;
}



:root {
  --brand-color: #0B6D76; 
  --brand-text-color: #ffffff;
}

.bg-brand {
  background-color: var(--brand-color);
}

.text-brand {
  color: var(--brand-color);
}


/* Hide scrollbars but still scrollable */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}


.complete-page-spaceing {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: 768px) {
  .complete-page-spaceing {
    gap: 80px;
  }
}

.banner-bottom-space {
  padding-top: 40px;
}

.bottom-session-space {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .banner-bottom-space {
    padding-top: 80px;
  }

  .bottom-session-space {
    padding-bottom: 80px;
  }
}




